@sanjeevvp:registry="https://npm.pkg.github.com/:_authToken=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"
//npm.pkg.github.com/:_authToken=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

//registry.npmjs.org/:_authToken=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